#competences {
  background-color: #ffffff;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

#competences .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#competences h2 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#competences li {
  font-size: 1.1rem;
  color: #34495e;
  margin-bottom: 20px;
  line-height: 1.6;
  list-style-type: disc;
}

.competences-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 1.8em;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fromLeft {
  transform: translateX(-100%);
}

.fromRight {
  transform: translateX(100%);
}

.visible.fromLeft {
  transform: translateX(0);
}

.visible.fromRight {
  transform: translateX(0);
}

.competences-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
  gap: 20px;
}

.competences-list {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  list-style-type: disc;
  padding-left: 40px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.competences-list li {
  display: list-item;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  #competences {
    padding: 20px 10px;
    margin-bottom: 15px;
  }

  .competences-container {
    flex-direction: column;
    width: 80%;
    gap: 10px;
  }

  .competences-list {
    width: 100%;
  }

  #competences h2 {
    font-size: 1.3rem;
  }

  #competences li {
    font-size: 1rem;
  }

  .competences-title {
    font-size: 1.5em;
    padding-bottom: 5px;
  }
}
