@import url("../../style/index.css");

/* Animation pour les éléments venant du top */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animation pour les éléments venant de gauche */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animation pour les éléments venant de droite */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Common styles for animated containers */
.present-Container,
.coord-Container {
  animation: slideFromTop 1s ease;
  background-color: #def3f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coord-Container {
  display: flex;
  gap: 20px;
}

.contact-form-container {
  flex: 1;
  animation: slideInFromLeft 1s ease;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-coord-container {
  flex: 1;
  animation: slideInFromRight 1s ease;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Media Queries for mobile devices */
@media only screen and (max-width: 1024px) {
  .present-Container,
  .coord-Container {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 15px;
  }

  .coord-Container {
    flex-direction: column;
    gap: 10px;
  }

  .contact-form-container,
  .contact-coord-container {
    width: 100%;
  }

  .present-Container h1 {
    font-size: 1.5em;
  }
}
